* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
@font-face {
	font-family: circularSTD;
	src: url(./assets/Circular-Std-Font/Circular-Std-Font.otf) format('opentype');
}

/* Home section -------------------------------------------*/
#home {
	min-height: 60vh;

	background-image: linear-gradient(rgba(5, 5, 5, 4), rgba(0, 0, 0, 0.2)), url(./assets/home-background.jpg);
	background-size: cover;
	background-position-x: -12rem;
}
hr {
	height: .5rem;
	background-color: #222;
	border: none;
}
#home-card {
	display: flex;
	flex-direction: column;
	height: 40vh;
	width: 90vw;
	align-items: center;
	margin: auto;
	color: white;
	padding: 3rem 0rem;
	text-align: center;
}
#home-title {
	font-size: 1.75rem;
	font-weight: 900;
}
#home-card p {
	font-size: 1.2rem;
}
#home-card p:first-of-type {
	margin: 1rem 0rem;
}
#email-input,
#questions-get-started input {
	margin-top: 1rem;
	width: 82vw;
	padding: 1rem 1rem 17px;
	border-radius: 3px;
	border: none;
}
#get-started-btn,
#questions-get-started button {
	margin: 1rem;
	background-color: #e20813;
	color: white;
	font-size: 1rem;
	padding: .5rem 1.3rem;
	border: none;
	cursor: pointer;
}
/* nav display -------------------------------------------*/
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: .7rem 1rem;
}
#nav-links {
	display: flex;
}
#netflix-logo {
	width: 7.3rem;
}

#sign-in-btn {
	background-color: #e50914;
	color: white;
	font-size: .8rem;
	margin-left: 1rem;
	padding: .3rem;
	border: none;
	border-radius: 4px;
}
#sign-in-btn:hover {
	cursor: pointer;
}
#language-select {
	font-size: 1rem;
	color: white;
	background-color: transparent;
}
/* thisgh to do this bofore the image */
#language-select:before {
	content: "dds";
	display: block;
	background: url("https://img.icons8.com/material-outlined/24/000000/globe--v2.png") no-repeat;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 6px 0 0;
}
/* card section -------------------------------------------*/
#story-card {
	background-color: black;
}
.card {
	width: 90%;
	margin: auto;
	padding-bottom: 2.5rem;
	color: white;
	text-align: center;
}
.card h1 {
	font-size: 1.625rem;
	line-height: 1.1;
	padding-top: 2.5rem;
	margin-bottom: .5rem;
}
.card p {
	font-size: 3.625;
	font-weight: 400;
	padding-top: 1rem;
}
/* Your-Tv section -------------------------------------------*/

.your-tv {
	color: white;
	text-align: center;
}
#your-tv-animation img {
	position: relative;
	width: 90vw;
	z-index: 1;
}
#your-tv-animation {
	position: relative;
}
#your-tv-animation video {
	position: absolute;
	top: 4.4rem;
	left: 3.7rem;
	width: 66vw;
}

/* Offline section -------------------------------------------*/
.offline-card {
	position: relative;
}
.offline-card img {
	width: 90vw;
}
#offline-animation {
	background-color: black;
display: flex;
width: 50vw;
justify-content: space-between;

	position: absolute;
	left: 2rem;
	top: 21rem;
	border: 3px solid #222;
	border-radius: 7px;
	padding: .3rem 3rem;
}
#download-animation{

height: 100%;

}
#offline-animation img {
	width: 2rem;

}

/* everywhere section -------------------------------------------*/
#everywhere-animation {
	position: relative;
}
#everywhere-animation img {
	width: 100%;
	position: relative;
	margin-top: .5rem;
	z-index: 2;
}
#everywhere-animation video {
	position: absolute;
	left: 4.6rem;
	top: 2rem;
	width: 65%;
	z-index: 1;
}
/* kids section -------------------------------------------*/
#kids-animation img {
	width: 100%;
}
.kids-card p {
	font-size: 1.33rem;
	padding-bottom: 1rem;
}

/* questions section -------------------------------------------*/
.question-answer-section {
	background-color: black;
	color: white;
}
.question-answer-section h1 {
	text-align: center;
	padding: 1.6rem 0rem;
	font-size: 1.9rem;
}
.question {
	margin: .5rem 0rem;
}

.question button {
	font-size: 1.2rem;
	cursor: pointer;
	width: 100%;
	padding: 1rem 1rem;
	text-align: start;
	color: white;
	background-color: #303030;
	border: none;
	position: relative;
}

#icon {
	position: absolute;
	right: 1.2rem;
	font-weight: 100;
	top: .1rem;
	font-size: 2.7rem;
	color: #646464;
}
/* Answer  */
.answer {
	background-color: #303030;
	margin-top: 3px;
	padding: 1.3rem;
	font-size: 1.225rem;
	display: none;
}
#questions-get-started {
	padding: 2rem 0rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 95%;
	margin: auto;
}
#get-started h3 {
	font-size: 1.4rem;
}

/* footer section -------------------------------------------*/
#footer {
	background-color: black;
	color: #575757;
}
#footer-structure {
	width: 80vw;
	margin: auto;
}
#footer-structure p {
	padding: 2rem 0rem;
}
#footer-links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
}
#footer-links li {
	margin: .3rem 0rem;
}
#footer-links li a {
	color: #575757;
	text-decoration: none;
}
#footer-links li a:hover {
	text-decoration: underline;
}

/* classList ******************** */
.rotateIcon {
	transform: rotate(45deg);
}
.toggleQuestionDisplay {
	display: block;
}
