* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
section{
	position: relative;
}
body {
	font-family: 'netflix-font', cursive;
}
@font-face {
	font-family: 'netflix-font';
	src: url(./assets/netflix-sans-cufonfonts/NetflixSansRegular.ttf);
}
/* Home section -------------------------------------------*/
#home {
	min-height: 59.6vh;
	background-image: linear-gradient(rgba(5, 5, 5, 4), rgba(0, 0, 0, 0.2)), url(./assets/home-background.jpg);
	background-size: cover;
	background-position-x: -16rem;
}
hr {
	height: .5rem;
	background-color: #222;
	border: none;
}
#home-card {
	display: flex;
	flex-direction: column;
	min-height: 40vh;
	width: 90vw;
	align-items: center;
	margin: auto;
	color: white;
	padding: 3rem 0rem 0rem;
	text-align: center;
}
#home-title {
	font-size: 1.65rem;
	font-weight: 900;
}
#home-card p {
	font-size: 1.1rem;
}
#home-card p:first-of-type {
	margin: .5rem 0rem .9rem;
}
#email-input,
#questions-get-started input {
	margin-top: 1rem;
	width: 82vw;
	padding: 1rem 1rem 17px;
	border-radius: 3px;
	border: none;
}
#get-started-btn,
#questions-get-started button {
	margin: 1rem;
	background-color: #e20813;
	color: white;
	font-size: 1rem;
	padding: .7rem 1.3rem;
	border: none;
	cursor: pointer;
}
/* nav display -------------------------------------------*/
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: .7rem 1rem;
}
#nav-links {
	display: flex;
}
#netflix-logo {
	width: 6rem;
}

#sign-in-btn {
	background-color: #e50914;
	color: white;
	font-size: .9rem;
	margin-left: 1rem;
	padding: .3rem;
	border: none;
	border-radius: 4px;
}
#sign-in-btn:hover {
	cursor: pointer;
}
#language-select {
	font-size: 1rem;
	color: white;
	background-color: transparent;
}
/* thisgh to do this bofore the image */
#language-select:before {
	content: "dds";
	display: block;
	background: url("https://img.icons8.com/material-outlined/24/000000/globe--v2.png") no-repeat;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 6px 0 0;
}
/* card section -------------------------------------------*/
#story-card {
	background-color: black;
}
.card {
	width: 90%;
	margin: auto;
	padding: 3.125rem 1.171rem;
	color: white;
	text-align: center;
}
.card h1 {
	font-size: 1.625rem;
	line-height: 1.1;
}
.card p {
	font-size: 1.125rem;
	font-weight: 400;
	padding: .843rem 0rem 0rem;
}
/* Your-Tv section -------------------------------------------*/

.your-tv {
	color: white;
	text-align: center;
	padding-bottom: 2.1rem;
}
#your-tv-animation img {
	position: relative;
	height: 15.825rem;
	width: 21.100rem;
	z-index: 1;
}
#your-tv-animation {
	position: relative;
}
#your-tv-animation video {
	position: absolute;
	top: 3.2rem;
	left: 2.8rem;
	width: 66vw;
}

/* Offline section -------------------------------------------*/
.offline-card {
	position: relative;
}
.offline-card img {
	width: 90vw;
}
#offline-animation {
	background-color: black;
	display: flex;
	width: 69vw;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 3.3rem;
	bottom: 4.4rem;
	border: 3px solid #222;
	border-radius: 7px;
	padding: .24rem 0rem;
}
#download-animation {
object-fit: cover;
}
#offline-animation img {
	width: 2.144rem;
	height: 3rem;

}
#offline-animation-title h4 {
	font-size: .9rem;
		text-align: start;
}
#offline-animation-title h4 span {
	color: #0071eb;
	font-size: .75rem;

}
/* everywhere section -------------------------------------------*/
.everywhere-card{
	height: 45.5vh;
}
#everywhere-animation {
	position: relative;
}
#everywhere-animation img {
	width: 100%;
	position: relative;
	margin-top: .5rem;
	z-index: 2;
}
#everywhere-animation video {
	position: absolute;
	left: 4rem;
	top: 2rem;
	width: 60%;
	z-index: 1;
}
/* kids section -------------------------------------------*/
#kids-animation{
	height: 34.3vh;
}
#kids-animation img {
	width: 100%;
}


/* questions section -------------------------------------------*/
.question-answer-section {
	background-color: black;
	color: white;
	min-height: 89vh;
}
.question-answer-section h1 {
	text-align: center;
	padding: 2.6rem 0rem .6rem;
	font-size: 1.63em;
	width: 85%;
margin: auto;
}
.question {
	margin: .5rem 0rem;
}

.question button {
	font-size: 1.2rem;
	cursor: pointer;
	width: 100%;
	padding: .96rem 1rem;
	text-align: start;
	color: white;
	background-color: #303030;
	border: none;
	position: relative;
}

#icon {
	position: absolute;
	right: 1.2rem;
	font-weight: 100;
	top: .1rem;
	font-size: 2.7rem;
	color: #646464;
}
/* Answer  */
.answer {
	background-color: #303030;
	margin-bottom: 3px;
	padding: 1.3rem;
	font-size: 1.225rem;
	display: none;
}
#questions-get-started {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 95%;
	margin: auto;
}
#questions-get-started h3 {
	width: 90%;
	font-size: 1.125rem;
	font-weight: 100;
	padding-top: 1rem;
}

/* footer section -------------------------------------------*/
#footer {
	background-color: black;
	color: #575757;
	padding: 50px 18.75px 0px;
}
#footer-structure {
	width: 75vw;
	margin: auto;
	padding-bottom: 5.5rem;

}
#footer-structure p {
	font-size: 1rem;
	margin-bottom: 2rem;

}
#footer-links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
}
#footer-links li {
	margin: .45rem 0rem;
	font-weight: 100;
	font-size: .8rem;
}
#footer-links li a {
	color: #575757;
	text-decoration: none;
}
#footer-links li a:hover {
	text-decoration: underline;
}

/* classList ******************** */
.rotateIcon {
	transform: rotate(45deg);
}
.toggleQuestionDisplay {
	display: block;
}
