* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

section {
	position: relative;
}
body {
	font-family: 'netflix-font', cursive;
	background-color: black;
}
@font-face {
	font-family: 'netflix-font';
	src: url(./assets/netflix-sans-cufonfonts/NetflixSansRegular.ttf);
}
/* Home section -------------------------------------------*/
#home {
	min-height: 30rem;
	background-image: linear-gradient(rgba(5, 5, 5, 4), rgba(0, 0, 0, 0.2)), url(./assets/home-background.jpg);
	background-size: cover;
	background-position-x: -16rem;
}
hr {
	height: .5rem;
	background-color: #222;
	border: none;
}
#home-card {
	display: flex;
	flex-direction: column;
	min-height: 20rem;
	width: 90vw;
	align-items: center;
	margin: auto;
	color: white;
	padding: 3rem 0rem 0rem;
	text-align: center;
}
#home-title {
	font-size: 1.65rem;
	font-weight: 900;
}
#home-card p {
	font-size: 1.1rem;
}
#home-card p:first-of-type {
	margin: .5rem 0rem .9rem;
}
#email-input,
#questions-get-started input {
	margin-top: 1rem;
	width: 82vw;
	padding: 1rem 1rem 17px;
	border-radius: 3px;
	border: none;
}
#get-started-btn,
#questions-get-started button {
	margin: 1rem;
	background-color: #e20813;
	color: white;
	font-size: 1rem;
	padding: .7rem 1.3rem;
	border: none;
	cursor: pointer;
}
/* nav display -------------------------------------------*/
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: .7rem 1rem;
}
#nav-links {
	display: flex;
}
#netflix-logo {
	width: 6rem;
}

#sign-in-btn {
	background-color: #e50914;
	color: white;
	font-size: .9rem;
	margin-left: 1rem;
	padding: .3rem;
	border: none;
	border-radius: 4px;
}
#sign-in-btn:hover {
	cursor: pointer;
}
#language-select {
	font-size: 1rem;
	color: white;
	background-color: transparent;
}
/* thisgh to do this bofore the image */
#language-select:before {
	content: "dds";
	display: block;
	background: url("https://img.icons8.com/material-outlined/24/000000/globe--v2.png") no-repeat;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 6px 0 0;
}
/* card section -------------------------------------------*/
#story-card {
	background-color: black;
}
.card {
	width: 90%;
	margin: auto;
	padding: 3.125rem 1.171rem;
	color: white;
	text-align: center;
}
.card h1 {
	font-size: 1.625rem;
	line-height: 1.1;
}
.card p {
	font-size: 1.125rem;
	font-weight: 400;
	padding: .843rem 0rem 0rem;
}
/* Your-Tv section -------------------------------------------*/

.your-tv {
	color: white;
	text-align: center;
	padding-bottom: 2.1rem;
}
.your-tv p{
position: absolute;
z-index: 3;
}
#your-tv-animation img {
	position: relative;
	margin-top: 8.5vh;
	width: 90vw;
	z-index: 1;
	padding-bottom: 2.5vh;
}
#your-tv-animation {
	position: relative;
}
#your-tv-animation video {
	position: absolute;
	top: 15vh;
	left: 12vw;
	width: 66vw;
}

/* Offline section -------------------------------------------*/
.offline-card {
	position: relative;
}
.offline-card img {
	width: 90vw;
}
#offline-animation {
	background-color: black;
	display: flex;
	width: 69vw;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 3.3rem;
	bottom: 4.4rem;
	border: 2px solid #404040;
	border-radius: 7px;
	padding: .24rem 0rem;
}
#download-animation {
	object-fit: cover;
}
#offline-animation img {
	width: 2.144rem;
	height: 3rem;
}
#offline-animation-title h4 {
	font-size: .9rem;
	text-align: start;
}
#offline-animation-title h4 span {
	color: #0071eb;
	font-size: .75rem;
}
/* everywhere section -------------------------------------------*/
.everywhere-card {
	height: 23rem;
}
#everywhere-animation {
	position: relative;
}
#everywhere-animation img {
	width: 90vw;
	position: relative;
	margin-top: .5rem;
	z-index: 2;
}
#everywhere-animation video {
	position: absolute;
	left: 17vw;
	top: 2rem;
	width: 55vw;
	z-index: 1;
}
/* kids section -------------------------------------------*/
#kids-animation {
	height: 17rem;
}
#kids-animation img {
	width: 100%;
}

/* questions section -------------------------------------------*/
.question-answer-section {
	background-color: black;
	color: white;
	min-height: 45rem;
}
.question-answer-section h1 {
	text-align: center;
	padding: 2.6rem 0rem .6rem;
	font-size: 1.63em;
	width: 85%;
	margin: auto;
}
.question {
	margin: .5rem 0rem;
}

.question button {
	font-size: 1.2rem;
	cursor: pointer;
	width: 100%;
	padding: .96rem 1rem;
	text-align: start;
	color: white;
	background-color: #303030;
	border: none;
	position: relative;
}

#icon {
	position: absolute;
	right: 1.2rem;
	font-weight: 100;
	top: .1rem;
	font-size: 2.7rem;
	color: white;
}
/* Answer  */
.answer {
	background-color: #303030;
	margin: 1px 0 3px;
	padding: 1.3rem;
	font-size: 1.225rem;
	display: none;
}
#questions-get-started {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 95%;
	margin: auto;
}
#questions-get-started h3 {
	width: 90%;
	font-size: 1.125rem;
	font-weight: 100;
	padding-top: 1rem;
}

/* footer section -------------------------------------------*/
#footer {
	background-color: black;
	color: #575757;
	padding: 50px 18.75px 0px;
	height: 27rem;
}
#footer-structure {
	width: 75vw;
	margin: auto;
}
#footer-structure #phone {
	font-size: 1.1rem;
	color: #928e8e;
	text-decoration: none;
}
#footer-links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	margin-top: 1.7rem;
}
#footer-links li {
	margin: .45rem 0rem;
	font-weight: 100;
	font-size: .8rem;
}
#footer-links li a {
	color: #575757;
	text-decoration: none;
}
#footer-links li a:hover,
#footer-structure #phone:hover {
	text-decoration: underline;
}

/* classList ******************** */
.rotateIcon {
	transform: rotate(45deg);
}
.toggleQuestionDisplay {
	display: block;
}
@media screen and (min-width: 400px) {
	/* Home section -------------------------------------------*/
	#home {
		min-height: 32.3rem;
		background-position-x: -12.5rem;
	}
	#home-card {
		justify-content: center;
		padding: 2.4rem 0 0;
	}
	#home-card p {
		padding-top: .3rem;
		width: 70vw;
	}

	#email-input,
	#questions-get-started input {
		margin-top: .6rem;
		font-size: 17px;
		width: 78vw;
		padding: 1rem 1rem 14px;
		border-radius: 1.5px;
	}
	#get-started-btn,
	#questions-get-started button {
		margin: 1rem;
		background-color: #e20813;
		color: white;
		font-size: 1rem;
		padding: .6rem 1.3rem;
	}

	/* nav display -------------------------------------------*/
	nav {
		justify-content: space-around;
		padding: .7rem 0;
	}

	#netflix-logo {
		width: 6.3rem;
	}

	#sign-in-btn {
		padding: .3rem .5rem;
	}
	/* Your-Tv section -------------------------------------------*/

	.your-tv {
		padding-bottom: 2.5rem;
	}

	#your-tv-animation video {
		width: 72vw;
	}
	/* Offline section -------------------------------------------*/

	.offline-card img {
		width: 82vw;
		padding-bottom: 2vh;
	}
	#offline-animation {
		width: 55vw;
		left: 5.7rem;
		bottom: 5.4rem;
		padding: .24rem 0rem;
	}

	/* everywhere section -------------------------------------------*/
	.everywhere-card {
		/* height: 50vh; */
		padding-bottom: 11vh;
	}

	#everywhere-animation img {
		width: 85vw;
	}
	#everywhere-animation video {
		width: 52vw;
		left: 17vw;
	}
	/* kids section -------------------------------------------*/
	#kids-animation {
		/* height: 41.5vh; */
	}
	#kids-animation img {
		width: 90vw;
	}

	/* questions section -------------------------------------------*/
	.question-answer-section {
		/* min-height: 70vh; */
	}
	.question-answer-section h1 {
		text-align: center;
		padding: 2.6rem 0rem 1rem;
	}
	/* Answer  */
	.answer {
		padding: 1rem;
		font-size: 1.17rem;
	}
	#questions-get-started {
		padding-bottom: 2.45rem;
	}
	/* footer section -------------------------------------------*/

	#footer {
		/* height: 52vh; */
	}
	#footer-structure {
		width: 75vw;
		margin: auto;
		padding-bottom: 5.5rem;
	}
	#footer-structure #phone {
		font-size: 1.1rem;
		color: #928e8e;
		text-decoration: none;
	}
	#footer-links {
		display: grid;
		grid-template-columns: 1fr 1fr;
		list-style: none;
		margin-top: 1.7rem;
	}
	#footer-links li {
		margin: .45rem 0rem;
		font-weight: 100;
		font-size: .8rem;
	}
	#footer-links li a {
		color: #575757;
		text-decoration: none;
	}
	#footer-links li a:hover,
	#footer-structure #phone:hover {
		text-decoration: underline;
	}
}
@media screen and (min-width: 501px) {
	/* footer style */

	/* footer section -------------------------------------------*/
	#footer {
		height: 42.5vh;
		padding-bottom: 0;
	}

	#footer-structure #phone {
		font-size: 1rem;
	}
	#footer-links {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media screen and (min-width: 550px) {
	/* nav display -------------------------------------------*/
	#netflix-logo {
		width: 9.1rem;
	}
	#sign-in-btn {
		font-size: 1.1rem;
		padding: .4rem .9rem;
	}

	/* Home section -------------------------------------------*/
	#home {
		min-height: 47.5rem;
		background-position-x: 49.5%;
	}
	#home-card {
		min-height: 65vh;
		width: 85vw;
		align-items: center;
		padding: 5vh 0rem 0rem 0;
	}
	#home-title {
		font-size: 3.15rem;
	}
	#home-card p:nth-of-type(2) {
		width: 70%;
		font-size: 1.15rem;
	}
	#home-card p:first-of-type {
		font-size: 1.565rem;
	}
	#email-input,
	#questions-get-started input {
		max-width: 80vw;
		padding: 1rem 1rem 1rem;
		border-radius: 3px;
		border: none;
	}

	/* card section -------------------------------------------*/

	.card {
		width: 80%;
		padding: 3.125rem 1.171rem;
	}
	.card h1 {
		font-size: 2.5rem;
	}
	.card p {
		font-size: 1.25rem;
	}
	/* Your-Tv section -------------------------------------------*/

	.your-tv {
		padding: 3.5rem 0;
	}
	.your-tv p {
		width: 80%;
	}
	
	#your-tv-animation img {
		position: relative;
		width: 80vw;
	}

	#your-tv-animation video {
		position: absolute;
		top: 17vh;
		left: 10vw;
		width: 60.5vw;
	}

	/* Offline section -------------------------------------------*/
	.offline-card {
		padding-top: 4rem;
		padding: 3rem;
	}
	.offline-card img {
		width: 83vw;
	}
	#offline-animation {
		width: 54vw;
		left: 17.3vw;
		bottom: 4.7rem;
		padding: .5rem 0rem;
	}
	#download-animation {
		object-fit: cover;
	}
	#offline-animation img {
		width: 3.144rem;
		height: 4rem;
	}
	#offline-animation-title h4 {
		font-size: 1rem;
		text-align: start;
	}
	#offline-animation-title h4 span {
		font-size: .9rem;
	}

	/* everywhere section -------------------------------------------*/
	.everywhere-card {
		height: 58vh;
		padding-top: 5rem;
	}

	#everywhere-animation img {
		width: 82vw;
	}
	#everywhere-animation video {
		left: 15vw;
		top: 2rem;
		width: 51vw;
	}
	/* kids section -------------------------------------------*/
	.kids-card {
		padding-top: 5rem;
	}
	#kids-animation {
		padding-top: .7rem;
		height: 43vh;
	}
	#kids-animation img {
		width: 82vw;
	}

	/* questions section -------------------------------------------*/
	.question-answer-section {
		width: 80vw;
		margin: auto;
		padding-bottom: 1rem;
	}
	.question-answer-section h1 {
		padding: 4.3rem 0rem .6rem;
		font-size: 2.5rem;
		width: 80%;
	}
	.question {
		width: 90%;
		margin: .7rem auto;
		list-style: none;
	}

	.question button {
		font-size: 1.25rem;
		padding: 1rem 1rem;
	}
	/* Answer  */
	.answer {
		padding: 1.5rem 1.3rem;
		font-size: 1.25rem;
	}

	#questions-get-started h3 {
		width: 90%;
		font-size: 1.2rem;
		padding-top: 2.5rem 1rem;
	}
	#questions-get-started input {
		width: 95%;
		margin-top: .9rem;
	}


@media screen and (min-width: 591px) {
	
	/* Home section -------------------------------------------*/
	#home {
		min-height: 44rem;
	}

	#home-card {
	
		max-width: 30.7rem;
		align-items: center;
		padding: 5vh 0rem 0rem 0;
	}
	#home-card input{
		max-width: 30.7rem;
	}

	.your-tv {
		padding: 2.8rem 0;
	}
	.your-tv p {
		top: 7.4rem;
		width: 86%;
	}
	

	/* Offline section -------------------------------------------*/
	.offline-card {
		padding-top: 4rem;
		padding: 3rem;
	}
	.offline-card img {
		width: 83vw;
	}
	#offline-animation {
		width: 54vw;
		left: 17.3vw;
		bottom: 4.7rem;
		padding: .5rem 0rem;
	}
	#download-animation {
		object-fit: cover;
	}
	#offline-animation img {
		width: 3.144rem;
		height: 4rem;
	}
	#offline-animation-title h4 {
		font-size: 1rem;
		text-align: start;
	}
	#offline-animation-title h4 span {
		font-size: .9rem;
	}

	/* everywhere section -------------------------------------------*/
	.everywhere-card {
		height: 58vh;
		padding-top: 5rem;
	}

	#everywhere-animation img {
		width: 82vw;
	}
	#everywhere-animation video {
		left: 15vw;
		top: 2rem;
		width: 51vw;
	}
	/* kids section -------------------------------------------*/
	.kids-card {
		padding-top: 5rem;
	}
	#kids-animation {
		padding-top: .7rem;
		height: 43vh;
	}
	#kids-animation img {
		width: 82vw;
	}

	/* questions section -------------------------------------------*/
	.question-answer-section {
		width: 80vw;
		margin: auto;
		padding-bottom: 1rem;
	}
	.question-answer-section h1 {
		padding: 4.3rem 0rem .6rem;
		font-size: 2.5rem;
		width: 80%;
	}
	.question {
		width: 90%;
		margin: .7rem auto;
		list-style: none;
	}

	.question button {
		font-size: 1.25rem;
		padding: 1rem 1rem;
	}
	/* Answer  */
	.answer {
		padding: 1.5rem 1.3rem;
		font-size: 1.25rem;
	}

	#questions-get-started h3 {
		width: 90%;
		font-size: 1.2rem;
		padding-top: 2.5rem 1rem;
	}
	#questions-get-started input {
		width: 95%;
		margin-top: .9rem;
	}


	/* footer section -------------------------------------------*/

#footer{
	padding-top: 4.6rem;
}
	#footer-structure #phone {
		font-size: 1rem;
		
	}

	#footer-links li {
	
		font-size: .9rem;
	}
}
}
